<ion-view view-title="Manifest">

    <ion-content>
        <!--<ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            {{playlist.title}}
          </ion-item>
        </ion-list>-->

        <div class="search-table-outter">



            <div class="list">

                <div class="item item-input-inset">
                    <h3>Search : </h3>
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="search_location">
                    </label>&nbsp;

                </div>

            </div>
            <table class="main-table" cellspacing="2" cellpadding="">

                <thead>
                    <tr class="head">
                       
                        <td colspan="8" class="text-center">Booked /Actual</td>

                        <td colspan="10" class="text-center">Information</td>

                    </tr>
                    <tr class="head">
                        <td class="td-fixed">Location</td>
                        <td class="td-fixed td-fixed-margin " >CV Number</td>
                        <td class="td-fixed td-fixed-margin2 " >Account Name	</td>
                        <td class="td-a" >A</td>
                        <td >K</td>
                        <td >FOC</td>
                        <td >INF</td>
                        <td >TG</td>
                        <td >E</td>
                        <td >ARRIVAL</td>
                        <td >Time</td>
                        <td >Resort Hotel</td>
                        <td >Unit</td>
                        <td >Unit ATD</td>
                        <td >Driver</td>
                        <td >Coordinator</td>
                        <td >Sales Handle</td>
                        <td >Agency</td>
                        <td style="width: 400px">Remarks</td>
                        <td >Sames as Booked?</td>



                    </tr>

                </thead>

                <tbody>

                    <tr class="result" ng-repeat="data in results| filter:search_location">

                        <td class="td-fixed gray-background">{{data['location']}}</td>
                        <td class="td-fixed td-fixed-margin gray-background">{{data['cv_number']}}</td>
                        <td class="td-fixed td-fixed-margin2 gray-background">{{data['account_name']}}</td>
                        <td class="td-a">
                            <span class="actual-text-clear">{{data['book_a']}}</span>
                            <input class="actual-text" ng-model="data.actual_a" id="{{data['ID'] + '-a'}}" type="text"  ng-value="{{data.actual_a}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_k']}}</span>
                            <input class="actual-text" ng-model="data.actual_k" id="{{data['ID'] + '-k'}}" type="text" ng-value="{{data.actual_k}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_foc']}}</span>
                            <input class="actual-text" ng-model="data.actual_foc" id="{{data['ID'] + '-foc'}}" type="text" value="{{data.actual_foc}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_inf']}}</span>
                            <input class="actual-text" ng-model="data.actual_inf" id="{{data['ID'] + '-inf'}}" type="text" value="{{data.actual_inf}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_tg']}}</span>
                            <input class="actual-text" ng-model="data.actual_tg" id="{{data['ID'] + '-tg'}}" type="text" value="{{data.actual_tg}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_e']}}</span>
                            <input class="actual-text" ng-model="data.actual_e" id="{{data['ID'] + '-e'}}" type="text" value="{{data.actual_e}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_arrival']}}</span>
                            <input class="actual-text" ng-model="data.actual_arrival" id="{{data['ID'] + '-arrival'}}" type="text" value="{{data.actual_arrival}}"></td>
                        <td ><span class="actual-text-clear">{{data['book_time']}}</span>
                            <input class="actual-text" ng-model="data.actual_time" id="{{data['ID'] + '-time'}}" type="text" value="{{data.actual_time}}"></td>

                        <td >
                            <input class="actual-text2" ng-model="data.resort_hotel" id="{{data['ID'] + '-resort_hotel'}}" type="text" value="{{data.resort_hotel}}"></td>
                        <!-- <td >
                             <td >{{data['resort_hotel']}}</td>-->
                        <td >
                            <input class="actual-text2" ng-model="data.unit" id="{{data['ID'] + '-unit'}}" type="text" value="{{data.unit}}"></td>

                        <td >
                            <input class="actual-text2" ng-model="data.unit_atd" id="{{data['ID'] + '-unit_atd'}}" type="text" value="{{data.unit_atd}}"></td>

                        <td >
                            <input class="actual-text2" ng-model="data.driver" id="{{data['ID'] + '-driver'}}" type="text" value="{{data.driver}}"></td>

                        <td >
                            <input class="actual-text2" ng-model="data.coordinator" id="{{data['ID'] + '-coordinator'}}" type="text" value="{{data.coordinator}}"></td>

                        <!--<td >{{data['unit']}}	</td>
                        <td >{{data['unit_atd']}}</td>
                        <td >{{data['driver']}}</td>				  
                        <td >{{data['coordinator']}}</td>

                        <td >{{data['sales_handle']}}</td>
                        <td >{{data['agency']}}</td>-->
                         <td >
                            <input class="actual-text2" ng-model="data.sales_handle" id="{{data['ID'] + '-sales_handle'}}" type="text" value="{{data.sales_handle}}"></td>
                          <td >
                            <input class="actual-text2" ng-model="data.agency" id="{{data['ID'] + '-agency'}}" type="text" value="{{data.agency}}"></td>
                        <td >
                            <textarea cols="40" rows="2" style="width:100%" class="actual-text2" ng-model="data.remarks" id="{{data['ID'] + '-remarks'}}" type="text" value="{{data.remarks}}"></textarea>
                        </td>

                        <!-- <td >{{data['remarks']}}</td>-->

                        <td >
                            <button class="button button-balanced icon ion-checkmark"  ng-click="copyData(data)"></button>
                            <!--<button class="button button-assertive" ng-click="ctrl.add($index)"><ion-icon class="close-circle"></ion-icon></button>-->
                        </td>

                    </tr>
                </tbody>
                <table>	
                    <button class="button button-full button-positive"  ng-click="saveAll()">Submit</button>
                    <div/>
                    </ion-content>
                    </ion-view>
