<ion-view view-title="DAILY PASSENGER MANIFEST - ARRIVAL">
  <ion-content>
    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
	<table class="main-table" cellspacing="2" cellpadding="">
		<thead>
			<tr class="head">
				  <td  colspan="3"></td>
				  <td colspan="8" class="text-center">Booked</td>
				  <td colspan="8" class="text-center">Actual</td>
				  <td colspan="15" class="text-center"></td>

			</tr>
			 <tr class="head">
				 <td >Location</td>
				 <td >CVNumber</td>
				 <td >Account Name	</td>
				 <td >A</td>
				 <td >K</td>
				 <td >FOC</td>
				<td >INF</td>
				<td >TG</td>
				<td >E</td>
				<td >ARRIVAL</td>
				<td >Time</td>
				<td >A</td>
				 <td >K</td>
				<td >FOC</td>
				<td >INF</td>
				<td >TG</td>
				<td >E</td>
				<td >ARRIVAL</td>
				<td >Time</td>
					<td >Sames as Booked?</td>
					
					
				<td >Resort Hotel</td>
				<td >Unit</td>
				<td >Unit ATD</td>
				<td >Driver</td>
				<td >Coordinator</td>
				<td >Sales Handle</td>
				<td >Agency</td>
				<td >Remarks</td>
			
				
			</tr>
			
		</thead>
	
		<tbody>
			<tr class="result" ng-repeat="data in results">
			     <td >{{data['2']}}</td>
				 <td >{{data['3']}}</td>
				 <td >{{data['4']}}</td>
				 <td ><span class="actual-text-clear">{{data['5']}}</span></td>
			     <td ><span class="actual-text-clear">{{data['6']}}</span></td>
				 <td ><span class="actual-text-clear">{{data['7']}}</span></td>
				 <td ><span class="actual-text-clear">{{data['8']}}</span></td>
				 <td ><span class="actual-text-clear">{{data['9']}}</span></td>
			     <td ><span class="actual-text-clear">{{data['10']}}</span></td>
				 <td ><span class="actual-text-clear">{{data['11']}}</span></td>
				 <td ><span class="actual-text-clear">{{data['12']}}</span></td>
				 <!--<td >{{data['13']}}xx</td>-->
				 <td ><input class="actual-text" type="text" value="{{data['14']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['15']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['16']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['17']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['18']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['19']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['20']}}"></td>
				 <td ><input class="actual-text" type="text" value="{{data['21']}}"></td>
				 
			   
				 	 <td >
					 <button class="button button-balanced" ng-click="ctrl.add($index)"><ion-icon name="checkmark-circle"></ion-icon></button>
					 <button class="button button-assertive" ng-click="ctrl.add($index)"><ion-icon name="close-circle"></ion-icon></button>
					 </td>
				 <td >{{data['24']}}</td>
			
			    <!-- <td >{{data['23']}}</td>
				 <td >{{data['24']}}</td>-->
				 <td >{{data['25']}}	</td>
				 <td >{{data['26']}}</td>
				  <td >{{data['27']}}</td>
				   <!--<td >{{data['28']}}</td>-->
				   <td >{{data['29']}}</td>
				     
			  
				<td >{{data['30']}}</td>
				  <td >{{data['32']}}</td>
				    <td >{{data['33']}}</td>
				
				</tr>
		</tbody>
	<table>	
  </ion-content>
</ion-view>
