<ion-view view-title="Setting">
    <ion-content>
        <div class="list">
            <div class="padding">
                <button class="button button-block con-left ion-cloud-download button-calm" ng-click="syncBook()">
                    <ion-icon name="cloud-download"></ion-icon>
                    Download Database
                </button>

            </div>
             <div class="padding">
                <button class="button button-block con-left ion-cloud-download button-balanced" ng-click="syncUpBook()">
                    <ion-icon name="cloud-download"></ion-icon>
                    Upload Database
                </button>

            </div>
            <div class="padding">
                <button class="button button-block con-left ion-power button-assertive" ng-click="logout()">
                    Logout
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
