/* Empty. Add your own CSS if you like */
/*.header .col {
    background-color:lightgrey;
}



.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
*/
body{
    font-size:12px;
}
.main-table {
    width:100%;
    border-collapse: separate;
    border-spacing: 0;

}

.main-table tr:nth-child(even) {
    background-color: #D6EDF3
}
textarea{
    width:300px !important;
    border: solid 1px #333;
}
tr{

}
.head td{
    padding:2px 6px;
    border:solid 1px #999;
    background-color:#002F3F ;
    color:#fff;
    vertical-align:middle;
}
.text-center{
    text-align:center
}
.result td{
    vertical-align:middle;
    padding:2px 2px;
    text-align:center;
    border:solid 1px #999;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.actual-text{

    max-width:50px;
    text-align:center;
    padding:0 2px;
    border:solid 1px #002F3F !important;
}

.actual-text2{

    max-width:150px;
    text-align:center;
    padding:0 2px;
    border:solid 1px #002F3F !important;
}


.actual-text-clear{
    min-width:50px !important;
    max-width:50px;
    padding:6px 5px;

}
.logo{
    max-width: 300px;
    text-align: center;
    display: table-cell;
    margin: auto;
    padding: 70px 20px;
}

.search-table-outter {
    overflow-x:auto; }
th, td { 
    min-width: 60px;
}
.top-menu-img{

    width:260px;
}


.headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}

.td-fixed-margin {
    margin-left: 80px;
    z-index: 99;
}
.td-fixed-margin2 {
    margin-left: 160px;
    z-index: 99;
}
.td-fixed-padding {
    padding-left: 31px;
}
.td-fixed {
    position: fixed;
    left: 0px;
    width: 80px;

    height: 670px;
    word-wrap:break-word;
    z-index: 99;
}
.td-a{
    padding-left: 227px !important;
    text-align: right !important;

}
.gray-background {
    background-color: #FEFEFE;
}
.ng-binding{

}
.td-b{
    min-width: 
        100px;
}