/* Empty. Add your own CSS if you like */
/*.header .col {
    background-color:lightgrey;
}
.col:last-child {
    border-right: solid 1px grey;
}
.row:last-child .col {
    border-bottom: solid 1px grey;
}
*/
body{
    font-size:12px;
}
.main-table {
    width:100%;
    border-collapse: separate;
    border-spacing: 0;

}


textarea{
    width:300px !important;
    border: solid 1px #333;
}
tr{

}
th, td { 
    min-width: 60px;
}
.head td{
    padding:2px 6px;
    border:solid 1px #999;
    background-color:#002F3F ;
    color:#fff;
    vertical-align:middle;
    min-height: 70px;
}
.text-center{
    text-align:center
}
.result {
    border:solid 5px #999;
}
.result td{
    vertical-align:middle;
    padding:2px 2px;
    text-align:center;
    border:solid 1px #999;
}

.actual-text{
    max-width:50px;
    text-align:center;
    padding:0 2px;
    border:solid 1px #002F3F !important;
    z-index: 1;
}

.actual-text2{

    max-width:150px;
    text-align:center;
    padding:0 2px;
    border:solid 1px #002F3F !important;
}


.actual-text-clear{
    min-width:50px !important;
    max-width:50px;
    padding:6px 5px;

}
.logo{
    max-width: 300px;
    text-align: center;
    display: table-cell;
    margin: auto;
    padding: 70px 20px;
}

.search-table-outter {
    overflow-x:auto; 
    overflow-y:auto; 
}

.top-menu-img{

    width:260px;
}


.headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}

.td-fixed-margin {
    margin-left: 80px;
    z-index:999;
}
.td-fixed-margin2 {
    margin-left: 160px;
    z-index:9999;
}
.td-fixed-padding {
    padding-left: 31px;
}
.td-fixed {
    position: fixed;

    left: 0px;
    width: 80px;
    top:auto;
    height: 68px;
    word-wrap:break-word;
    z-index:9;

}
.td-a{
    margin-left: 240px !important;
    display: block;
    min-height: 60px;
}
.gray-background {
    background-color: #FEFEFE;
} 
.main-table tr:nth-child(even) {
    /*  background-color: #D6EDF3*/
}
.ng-table-counts{
    display: none;
}
.pagination{
    display: inline-block;
}
.pagination li{
    display: inline-block;
    float: left;
    
}
.pagination li a{
    background-color: #09f;
    padding:5px 10px;
    color:#fff;;
    margin:20px 5px;   
    text-decoration: none;
    border-radius: 5px;
    
}
.ng-table-pager{
  margin-top: 20px;  
}